@charset "UTF-8";
header {
  width: 100vw;
  height: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 0 0 45px; }
  header .header__notas {
    font-size: 85px;
    font-family: Impact;
    color: #0A568C;
    height: 100px;
    line-height: 1.25; }
  header .cajaTitulos {
    width: 115px;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end; }
    header .cajaTitulos .header_crear {
      position: absolute;
      color: #fff;
      font-size: 45px;
      line-height: 1.5; }
    header .cajaTitulos .strokeEfect {
      color: transparent;
      -webkit-text-stroke: 2px #798995; }
    header .cajaTitulos .animated {
      color: #0a568c;
      animation: waterEfect 6s ease-in-out infinite;
      margin: 0; }

@keyframes waterEfect {
  0% {
    clip-path: polygon(0 44%, 15% 44%, 31% 50%, 53% 60%, 70% 62%, 83% 59%, 100% 51%, 100% 100%, 0 100%); }
  50% {
    clip-path: polygon(0 60%, 16% 65%, 33% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0 100%); }
  100% {
    clip-path: polygon(0 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0 100%); } }

footer {
  position: relative;
  width: 100vw; }
  footer .caja__foo {
    display: block;
    height: 75px;
    background-color: #0F4C81;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    footer .caja__foo .main__form_btn {
      border: none;
      cursor: pointer; }
      footer .caja__foo .main__form_btn img {
        display: block;
        width: 100%;
        height: 100%;
        border: none; }

.cajaGrid {
  max-width: 80vw;
  margin: 0 auto; }
  .cajaGrid .main__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative; }
    .cajaGrid .main__form .main__form_text {
      height: 60vh;
      margin: 0 auto;
      font-size: 1.5rem;
      margin: 0;
      border: none;
      background-image: url(../img/fondo_cuaderno.png);
      background-repeat: no-repeat; }
    .cajaGrid .main__form .main__form_title {
      height: 10vh;
      margin: 0 auto;
      border: none;
      text-align: center;
      font-size: 2rem; }
    .cajaGrid .main__form .caja__btns {
      display: block;
      width: 100vw;
      height: 100px;
      background-color: #0F4C81;
      border: none;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .cajaGrid .main__form .caja__btns .main__form_btn {
        border: none;
        cursor: pointer; }
        .cajaGrid .main__form .caja__btns .main__form_btn img {
          display: block;
          width: 100%;
          height: 100%;
          border: none; }
    .cajaGrid .main__form .main__title {
      font-size: 3rem; }
    .cajaGrid .main__form .main__form__label, .cajaGrid .main__form .main__form__label .main__form__label__input {
      font-size: 2rem;
      width: 100%;
      display: inline-block;
      color: #99aac5;
      background-color: #34558b;
      border: none;
      margin: 5px auto;
      border-bottom: 0.5px solid #99aac5; }
      .cajaGrid .main__form .main__form__label .main__form__label__input {
        border: none;
        width: 80%;
        margin-left: 10px; }

.container {
  width: 100vw;
  padding-bottom: 5%;
  margin: 0 auto; }
  .container .form__Search {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%; }
    .container .form__Search .caja__search {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5% 0; }
      .container .form__Search .caja__search input {
        border: none;
        width: 50vw;
        border: 1px solid #0a568c;
        border-radius: 15px;
        padding: 5px;
        transform: translate(35px); }
      .container .form__Search .caja__search button {
        border: none;
        font-size: 2rem;
        color: #0a568c;
        transform: translate(-5px);
        z-index: 9;
        width: 50px; }
    .container .form__Search .caja__titles {
      width: 80vw;
      height: 60px;
      overflow-y: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      overflow: -moz-scrollbars-none; }
      .container .form__Search .caja__titles .form__titles {
        display: inline-block;
        color: #0a568c;
        padding: 5px 10px;
        border: 1px solid #0a568c;
        border-radius: 15px;
        margin-left: 5px; }
      .container .form__Search .caja__titles .colorChange {
        background-color: #798995; }
    .container .form__Search .caja__titles::-webkit-scrollbar {
      width: 1px;
      /* Tamaño del scroll en vertical */
      height: 1px;
      /* Tamaño del scroll en horizontal */
      display: none;
      /* Ocultar scroll */ }
  .container .card {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    margin-bottom: 5%; }
    .container .card:hover {
      transform: translateY(-10px); }
    .container .card .face {
      width: 95vw;
      margin-left: 5vw;
      transition: 0.5s;
      background-color: #0a568c;
      border-radius: 25px 0 0 25px;
      padding-left: 5%; }
    .container .card.face2 {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px; }
    .container .card .content {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #0a568c;
      border-radius: 0 0 0 15px;
      width: 150px; }
      .container .card .content a {
        display: inline-block;
        text-decoration: none;
        font-weight: 900;
        color: #112340;
        padding: 5%; }
        .container .card .content a:hover {
          background: #112340;
          color: #fff; }

.caja__btns {
  display: block;
  height: 100px;
  background-color: #0F4C81;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .caja__btns .main__form_btn {
    border: none;
    cursor: pointer; }
    .caja__btns .main__form_btn img {
      display: block;
      width: 100%;
      height: 100%;
      border: none; }

body {
  background-color: #F8F8F8;
  width: 100vw;
  font-family: Impact;
  position: relative; }
  body .flashes {
    position: absolute;
    top: 20%;
    width: 100vw;
    height: 50vh;
    background-color: #fff;
    z-index: 99; }
    body .flashes li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-size: 25px; }
  body main {
    width: 100vw;
    min-height: 60vh; }
