header {
  width: 100vw;
  height: 400px; }
  header .header__notas {
    max-width: 80vw;
    max-height: 30vh;
    margin: 0 auto;
    text-align: left;
    font-size: 307px;
    letter-spacing: 0;
    color: #ffffff;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center; }
  header .cajaTitulos {
    width: 100%;
    height: 150px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    header .cajaTitulos .header_crear {
      position: absolute;
      color: #fff;
      font-size: 6rem; }
    header .cajaTitulos .strokeEfect {
      color: transparent;
      -webkit-text-stroke: 2px #0b2040; }
    header .cajaTitulos .animated {
      color: #0b2040;
      animation: waterEfect 6s ease-in-out infinite;
      margin: 0; }

@keyframes waterEfect {
  0% {
    clip-path: polygon(0 44%, 15% 44%, 31% 50%, 53% 60%, 70% 62%, 83% 59%, 100% 51%, 100% 100%, 0 100%); }
  50% {
    clip-path: polygon(0 60%, 16% 65%, 33% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0 100%); }
  100% {
    clip-path: polygon(0 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0 100%); } }
  header .links {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column; }
    header .links input[type="checkbox"] {
      display: none; }
    header .links .links__container {
      display: none;
      transition: right 0.6s ease-in-out; }
    header .links .label__check {
      display: block;
      font-size: 2.5rem;
      font-weight: lighter;
      cursor: pointer;
      text-align: right;
      margin: 15px;
      z-index: 2; }
      header .links .label__check::before {
        content: " = "; }
    header .links input[type="checkbox"]:checked ~ .links__container {
      width: 15vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100vh;
      width: 22vw;
      background-color: #c4dbff;
      transform: skew(-12deg, 0deg);
      transition: right 0.6s cubic-bezier(0.43, -0.62, 0.38, 0.22);
      position: fixed;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      z-index: 1;
      font-size: 20px; }
      header .links input[type="checkbox"]:checked ~ .links__container li {
        width: 50%;
        cursor: pointer;
        font-size: 18px;
        font-size: 2.7vh;
        text-align: left;
        margin-bottom: 5%; }
        header .links input[type="checkbox"]:checked ~ .links__container li a {
          font-size: 22px;
          font-weight: bold;
          color: #0b2040;
          text-decoration: none; }
      header .links input[type="checkbox"]:checked ~ .links__container .actual {
        position: relative; }
        header .links input[type="checkbox"]:checked ~ .links__container .actual a {
          z-index: 2;
          color: #d9b266; }
    header .links input[type="checkbox"]:checked ~ .label__check::before {
      content: " x "; }

.cajaGrid {
  max-width: 80vw;
  margin: 0 auto; }
  .cajaGrid .main__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #34558b; }
    .cajaGrid .main__form .main__form_text, .cajaGrid .main__form .main__form_btn, .cajaGrid .main__form .main__title, .cajaGrid .main__form .main__form_date {
      color: #99aac5;
      background-color: #34558b;
      border: none;
      width: 80vw;
      margin: 0 auto; }
    .cajaGrid .main__form .main__form_text {
      height: 150px;
      margin: 0 auto;
      font-size: 2rem; }
    .cajaGrid .main__form .main__form_btn {
      font-size: 2.5rem;
      width: 100px;
      height: 50px;
      background-color: #0b2040;
      color: #D9B266;
      border-radius: 15px;
      cursor: pointer;
      margin: 0; }
      .cajaGrid .main__form .main__form_btn:hover {
        color: #0b2040;
        background-color: #D9B266; }
    .cajaGrid .main__form .main__title {
      font-size: 3rem; }
    .cajaGrid .main__form .main__form__label, .cajaGrid .main__form .main__form__label .main__form__label__input {
      font-size: 2rem;
      width: 100%;
      display: inline-block;
      color: #99aac5;
      background-color: #34558b;
      border: none;
      margin: 5px auto;
      border-bottom: 0.5px solid #99aac5; }
      .cajaGrid .main__form .main__form__label .main__form__label__input {
        border: none;
        width: 80%;
        margin-left: 10px; }

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 80vw;
  padding-bottom: 5%;
  margin: 0 auto; }
  .container .card {
    position: relative;
    cursor: pointer; }
    .container .card .face {
      width: 300px;
      height: 200px;
      transition: 0.5s; }
      .container .card .face.face1 {
        position: relative;
        background: #112340;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transform: translateY(100px); }
        .container .card .face.face1 .content {
          opacity: 0.2;
          transition: 0.5s; }
          .container .card .face.face1 .content img {
            max-width: 100px; }
          .container .card .face.face1 .content h3 {
            margin: 10px 0 0;
            padding: 0;
            color: #fff;
            text-align: center;
            font-size: 1.5em; }
      .container .card .face.face2 {
        position: relative;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
        transform: translateY(-100px); }
        .container .card .face.face2 .content p {
          margin: 0;
          padding: 0;
          overflow: scroll;
          width: 200px;
          height: 150px; }
        .container .card .face.face2 .content a {
          margin: 5px 0 0;
          display: inline-block;
          text-decoration: none;
          font-weight: 900;
          color: #112340;
          padding: 5px;
          border: 1px solid #112340; }
          .container .card .face.face2 .content a:hover {
            background: #112340;
            color: #fff; }
    .container .card:hover .face.face1 {
      background: #ff0057;
      transform: translateY(0); }
      .container .card:hover .face.face1 .content {
        opacity: 1; }
    .container .card:hover .face.face2 {
      transform: translateY(0); }

body {
  background-color: #34558B;
  width: 100vw; }
  body main {
    width: 100vw; }
