.header__notas {
  top: 0px;
  left: 465px;
  width: 945px;
  height: 428px;
  text-align: left;
  font: Condensed Black 357px/438px Helvetica Neue;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 0.5; }

body {
  background-color: #34558B; }
