@import 'bases/reset';
@import 'vendors/bulma';

@import 'bases/typo';

@import 'utilities/variables';
@import 'utilities/functions';
@import 'utilities/mixin';
@import 'utilities/placeholders';

@import 'layouts/nav';
@import 'layouts/header';
@import 'layouts/footer.scss';
@import 'layouts/forms';
@import 'layouts/gridxflex';

@import 'components/buttons';
@import 'components/slider';

@import 'views/home';
@import 'views/contact';

@import 'themes/theme';
@import 'themes/red';


body{
  background-color:#F8F8F8;
  width:100vw;
  font-family: Impact;
  position: relative;

  .flashes{
    position:absolute;
    top:20%;
    width:100vw;
    height: 50vh;
    background-color: #fff;
    z-index: 99;

    li{
      display:flex;
      justify-content: center;
      align-items: center;
      width:100%;
      height:100%;
      font-size: 25px;
    }
  }

  main{
    width:100vw;
    min-height:60vh;
  }
}





