@import 'bases/reset';
@import 'vendors/bulma';

@import 'bases/typo';

@import 'utilities/variables';
@import 'utilities/functions';
@import 'utilities/mixin';
@import 'utilities/placeholders';

@import 'layouts/nav';
@import 'layouts/header';
@import 'layouts/footer.scss';
@import 'layouts/forms';
@import 'layouts/gridxflex';

@import 'components/buttons';
@import 'components/slider';

@import 'views/home';
@import 'views/contact';

@import 'themes/theme';
@import 'themes/red';


body{
  background-color:#F8F8F8;
  width:100vw;
  font-family: Impact;

  main{
    width:100vw;
  }
}





