.cajaGrid{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr;
    grid-template-areas: "date" "form";
    max-width: 80vw;
    margin: 0 auto;
    .main__date{
        font-size: 82px;
        letter-spacing: 0;
        color: #FFFFFF;
        opacity: 1;
        grid-area: date;
        text-align:center;
    }

    .main__title{
        
    }

    .main__form{
        grid-area: form;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .main__form_text{
            width: 400px;
            height: 150px;
        }
    }
}
.ver{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80vw;
    padding-bottom: 5%;
        .notas{
        display: grid;
            grid-template-columns: 150px 150px;
            grid-template-rows: 75px 75px 150px;
            grid-template-areas: "date date" "title title" "text text";

        .notas__date{
            grid-area: date;
            font-size: 52px;
            letter-spacing: 0;
            color: #FFFFFF;
            opacity: 1;
            grid-area: date;
            text-align:center;
        }

        .notas__title{
            @extend .notas__date ;
            grid-area: title;
        }

        .notas__texto{
            grid-area: text;
            background-color: #fff;
        }
    }
}
