.cajaGrid{
    // display:grid;
    // grid-template-columns: 1fr;
    // grid-template-rows: 150px 1fr;
    // grid-template-areas: "date" "form";
    max-width: 80vw;
    margin: 0 auto;
    // .main__date{
    //     font-size: 82px;
    //     letter-spacing: 0;
    //     color: #FFFFFF;
    //     opacity: 1;
    //     grid-area: date;
    //     text-align:center;
    // }

    // .main__title{
        
    // }

    .main__form{
        // grid-area: form;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;


        .main__form_text{
            height: 70vh;
            margin: 0 auto;
            font-size: 1.5rem;
            margin: 0;
            border:none;
            background-image: url(../img/fondo_cuaderno.png);
            background-repeat:no-repeat;
        }
        .caja__btns{
            display: block;
            width:100vw;
            height: 100px;
            background-color: #0F4C81;
            border: none;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .main__form_btn{
                border: none;
                cursor: pointer;
                img{
                   display: block;
                    width:100%;
                    height:100%;
                    border: none;
                }

            }
        }

        
        .main__title{
            font-size: 3rem;
        }
        
        .main__form__label{
            font-size: 2rem;
            width: 100%;
            display: inline-block;
            color: #99aac5;
            background-color: #34558b;
            border: none;
            margin: 5px auto;
            border-bottom: 0.5px solid #99aac5;
            .main__form__label__input{
                @extend .main__form__label;
                border: none;
                width: 80%;
                margin-left: 10px;
            }
        }

    }
}

