{% extends 'layout.html' %}
<!-- Header BLOCK -->
{% block header %}

<div class="cajaTitulos">
  <h2 style="margin: 0;" class="header_crear strokeEfect">Crear</h2>
  <h2 style="margin: 0;" class="header_crear animated">Crear</h2>
</div>
     
{% endblock %}
{% block links %}

{% endblock %}

<!-- MAIN BLOCK -->
{% block main %}
<section class="cajaGrid">
  <form class="main__form" action="/" method="POST">
    <textarea
      class="main__form_text"
      type="text"
      name="nota"
      placeholder="Start writing..."
    ></textarea>
      <div class="caja__btns">
          <br>
          <button class="main__form_btn"><img src="../static/img/Save.svg" alt=""></button>
          <a href="/verNotas" class="main__form_btn"><img src="../static/img/NoteList.svg" alt=""></a>
          <br>
      </div>

  </form>
</section>

{% endblock %}
