{% extends 'layout.html' %}
<!-- Header BLOCK -->
{% block header %}

    <span class="header_crear">Crear</span>

{% endblock %}

<!-- MAIN BLOCK -->
{% block main %}
    <section class="cajaGrid">
        <span class="main__date">5-12-2019</span>

        <form class="main__form" action="/" method="POST">

                <input name="title" type="text" class="main__title" placeholder="TÍTULO">
                <textarea class="main__form_text" type="text" name="nota"></textarea>
                <button class="main__form_btn">Anotar</button>

        </form>
    </section>

{% endblock %}
