{% extends 'layout.html' %}
<!-- Header BLOCK -->
{% block header %}

<div class="cajaTitulos">
  <h2 style="margin: 0;" class="header_crear strokeEfect">Ver</h2>
  <h2 style="margin: 0;" class="header_crear animated">Ver</h2>
</div>

{% endblock %}
<!-- MAIN BLOCK -->
{% block main %}
<section class="container">
  {% for i in range(0, leng) %}
  <div class="card">
        <div class="face face2">
            <p class="content__links">{{title[i]}}</p>
            <p class="content__links">{{date[i]}}</p>
            <p class="content__links">{{nota[i]}}</p>
        </div>
      <div class="content">

        <a href="/actualiarNotas/{{ lista[i]["nota"] }}"><img src="../static/img/change.svg" alt=""></a>
        <a href="/delete/{{  lista[i]["nota"] }}"><img src="../static/img/del.svg" alt=""></a>
      </div>
  </div>
  {% endfor %}

</section>


{% endblock %}

{% block footer %}
    <footer class="caja__foo">
            <br>
            <a href="/" class="main__form_btn"><img src="../static/img/Save.svg" alt=""></a>
            <a href="/verNotas" class="main__form_btn"><img src="../static/img/NoteList.svg" alt=""></a>
            <br>
    </footer>
{% endblock %}


