{% extends 'layout.html' %}
<!-- Header BLOCK -->
{% block header %}

<div class="cajaTitulos">
  <h2 style="margin: 0;" class="header_crear strokeEfect">Titles</h2>
  <h2  style="margin: 0;" class="header_crear animated">Titles</h2>
</div>

{% endblock %}

{% block links %}
    <li><a href="/">Home</a></li>
    <li><a href="verNotas">All notes</a></li>
    <li class="actual"><a href="#">Select Title</a></li>
    <li><a href="#">Link Four</a></li>
{% endblock %}

<!-- MAIN BLOCK -->
{% block main %}


{% endblock %}


